
*.tlog
*.pdb
*.obj
*.log
*.idb
*.user
*.exe
*.ipch
*.ilk
*.db
zoreev_mv/Practice/.vs/Practice/v15/.suo
*.db-shm
*.opendb
*.db-wal
zoreev_mv/Practice/.vs/Practice/v16/.suo
zoreev_mv/Practice/Practice8/Debug/main.obj.enc
.vs/slnx.sqlite
.vs/ProjectSettings.json
zoreev_mv/Practice/Practice9/Debug/task_std.new.obj.enc
*.enc
